body {
    background: url('https://media.giphy.com/media/3o7WTDJQVuYwhhuLhC/giphy.gif') !important;
  }
   
  #masthead,
  #primary {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #fff;
    padding: 20px !important;
  }
  #masthead {
    background: none;
  }
  #masthead img, #primary img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .textviewContent div[role=presentation] span{
   font-family: "Lucida Console","Courier New",monospace  !important;
   font-size: 14px !important;
  } 

  .dijitTree::-webkit-scrollbar{
    display: none;
  }
